.App, .home-container {
  text-align: center;
}
* {
  background-color: black;
}
.catdaddylogo{
  width: 50%;
  height:auto;
  transition: transform 0.3s ease;
}
.catdaddylogo:hover {
  transform: scale(1.1); 
}

/* Footer */
footer {
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}
.footer-content {
  display: flex;
  flex-grow: 1; 
  align-items: center;
  justify-content: space-between; 
  padding-left: 50px; 
}
.footer-text{
  color: #fff;
  align-items: end;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  margin-right: 5px;
}
.footer-text, .catlogosmall {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}
.catlogosmall{
  width: 4rem;
  height:auto;
  margin-left: 10px;
}
.audio-player-container {
  margin-right: auto; /* Pushes everything to the right */
}


/* --INDEX-- */
.cat-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.cat-index-name {
  color: #fff !important;
}
.cat-index-age {
  color: #fff !important;
}
/* --HOME-- */
.homeimagelogo{
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px;
  animation: slide-in-bottom 4s;
}
.homepage-phrase {
  font-size: 1.5rem;
  background: linear-gradient(to right,  #0BD3D3 61%, #f890e7 39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px 0;
  animation: pulse 2s infinite;
}
  .home-header{
  color: #0BD3D3;
  margin-bottom: 20px; 
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
/* --BUTTON STYLING-- */
button, .btn-primary {
  background-color: #0bd3d3;
  border: none;
  color: #ffffff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 transparent;
}
button:hover, .btn-primary:hover {
  background-color: #f890e7 ;
  box-shadow: 0 0 20px #f890e7;
}
.custom-btn {
  background-color: #02ffff !important;
  border: none;
  color: #ffffff !important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 transparent;
}
.custom-btn:hover {
  background-color: #f890e7 !important;
  box-shadow: 0 0 20px #f890e7;
}
.not-found-container {
  text-align: center;
  margin-top: 50px;
}
.not-found-container img {
  max-width: 300px;
}
.not-found-container h1 {
  font-size: 2rem;
  margin-top: 20px;
  color: #d0d0d0;
}
.not-found-container p {
  font-size: 1.2rem;
  margin-top: 10px;
  color:#d0d0d0;
}
.edit-text{
  color: #fff;
}
.btn-edit-cat{
  background-color: #D0D0D0 !important;
  border-color: #D0D0D0 !important;
}
.btn-edit-cat:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-color: #ffffff !important;
  box-shadow: 0 0 20px #f890e7 !important;
}
.btn-delete-pink {
  background-color: #f890e7 !important; 
  border-color: #f890e7 !important; 
}

.btn-delete-pink:hover {
  background-color: #0BD3D3 !important;
  border-color: #0BD3D3 !important;
}
.btn-delete-cat {
  background-color: #f890e7 !important;
  border: none; 
  color: #ffffff !important;
}

.btn-delete-cat:hover {
  background-color: #0BD3D3 !important;
}
.btn-back-all-cats {
  background-color: #0BD3D3 !important;
  color: #ffffff !important;
  border: none; 
}

.btn-back-all-cats:hover {
  background-color: #ffaacb !important;
  color: #ffffff !important;
  box-shadow: 0 0 20px #f890e7 !important;
}
/* Header */

/* logo */
.logo-container img{
  width: 250px; 
  height: auto; 
}

@media (max-width: 768px) {
  .logo-container img {
    width: 80px; 
  }
}

  @media (max-width: 480px) {
    .logo-container img {
      width: 60px; 
    }
  }

/* logo🔼 */
.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px; 
}
.header-nav-links {
  display: flex;
  gap: 20px; 
  
}
nav {
  justify-content: space-between;
}
.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.nav-link {
  color: #0BD3D3 !important; 
  text-decoration: none; 
  padding: 0.5rem; 
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #f890e7 !important; 
  
  
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cat-index-header{
  color:white;
}
.cat-new-header{
  color:#fff;
}
.cat-show-header{
  color:white;
}
/* Cat-show */

.cat-show-container {
  text-align: center;
  max-width: 800px;
  margin: auto;
}
.cat-show-name {
  margin-bottom: 20px;
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  
}
.cat-show-image {
  max-width: 300px;
  height: auto;
  margin: 20px auto; 
  display: block;
}
.cat-show-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.cat-show-details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: #fff;
}
/* CatForm-CatNew/CatEdit */
form {
  max-width: 400px;
  margin: auto;
  padding: 2em;
  background-color: #222;
  color: #ffffff;
  border-radius: 8px;
}
.cat-form {
  max-width: 400px;
  margin: auto;
  padding: 2em;
  background-color: #000; 
  color: #ffffff; 
  border-radius: 8px;
  border: 2px solid #D0D0D0; 
}
.add-cat-image {
  width: 100%; 
  max-width: 100px; 
  height: auto;
  display: block;
  margin: 0 auto; 
}
.inputGroup {
  margin-bottom: 1.5em;
}
.inputGroup label {
  display: block;
  color: #0bd3d3;
  margin-bottom: .5em;
}
.inputGroup input,
.inputGroup textarea,
.inputGroup button {
  width: 100%;
  padding: 10px;
  margin-bottom: .5em;
  border: 2px solid #d0d0d0;
  border-radius: 4px;
  background-color: #222;
  color: #ffffff;
  font-size: 1em;
}
.inputGroup input:focus,
.inputGroup textarea:focus {
  border-color: #f890e7;
  outline: none;
}
.inputGroup button {
  background-color: #0bd3d3;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.inputGroup button:hover {
  background-color: #f890e7;
}

/*--CatEdit--*/
.new-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.back-button-container {
  position: fixed; 
  left: 20px; 
  bottom: 100px; 
  z-index: 1000; 
}
.edit-cat {
  margin-top: 20px; 
  margin-bottom: 20px; 
  color: #fff; 
  text-align: center; 
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;

}
.back-button img {
  width: 100px; 
  height: auto; 
  transition: transform 0.3s ease; 
}
.back-button:hover {
  transform: scale(1.1); 
}

/*--CatNew--*/
.add-new-cat {
  margin-top: 20px; 
  margin-bottom: 20px; 
  color: #fff; 
  text-align: center; 
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

/*--CatNotFound--*/
.not-found {
  display: inline-block;
  transition: transform 0.3s ease; 
}
.not-found:hover {
  transform: scale(1.1); 
}

/*--CatModel--*/
.main-content{
  margin-bottom: 50px;
}
.platinum-purr-profiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.profile-card {
  background-color: #000;
  text-align: center;
  padding: 15px;
  border-radius: 10px; /* Rounded corners */
}

.profile-card img {
  width: 100%; /* Full width of the card */
  height: auto; /* Maintain aspect ratio */
  max-width: 250px; /* Maximum width */
  max-height: 250px; /* Maximum height */
  object-fit: cover; /* Cover the container without losing aspect ratio */
  border-radius: 10px; /* Rounded corners to match the card */
  margin-bottom: 15px; /* Space below the image */
}

.profile-card h3 {
  color: #fff;
  font-size: 1.2rem;
}

.profile-card p {
  color: #fff;
  font-size: 1rem;
}
.cat-text-model {
  color: #fff !important;
}



@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FF1493, 0 0 40px #FF1493, 0 0 50px #FF1493, 0 0 60px #FF1493, 0 0 70px #FF1493;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #FF69B4, 0 0 40px #FF69B4, 0 0 50px #FF69B4, 0 0 60px #FF69B4, 0 0 70px #FF69B4, 0 0 80px #FF69B4;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
      opacity: 0;
      transform: translateY(50%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}

