.App {
  text-align: center;
}
* {
  background-color: black;
}
.catdaddylogo{
  width: 50%;
  height:auto
}
.footer-text{
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.catlogosmall{
  width: 4rem;
  height:auto
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FF1493, 0 0 40px #FF1493, 0 0 50px #FF1493, 0 0 60px #FF1493, 0 0 70px #FF1493;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #FF69B4, 0 0 40px #FF69B4, 0 0 50px #FF69B4, 0 0 60px #FF69B4, 0 0 70px #FF69B4, 0 0 80px #FF69B4;
  }
}
.not-found-container {
  text-align: center;
  margin-top: 50px;
}
.not-found-container img {
  max-width: 300px;
}
.not-found-container h1 {
  font-size: 2rem;
  margin-top: 20px;
  color: azure;
}
.not-found-container p {
  font-size: 1.2rem;
  margin-top: 10px;
  color:#fff;
}
.edit-text{
  color: #fff;
}
.home-header{
  color: white;
}
.cat-index-header{
  color:white;
}
.cat-new-header{
  color:#fff;
}
.cat-show-header{
  color:white;
}






